/* App.css */
body {
  background-color: #066b63;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 320px; /* Adjusted for margins */
}

.board-row {
  display: flex;
  width: 100%;
}

.square {
  width: 90px; /* Adjust for margins */
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  background-color: yellow;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s;
}

.square:hover {
  background-color: #f2e90b;
}

.square h5 {
  font-size: 48px; /* Increased size */
  margin: 0;
  color: #000;
}

.winner-message {
  margin-bottom: 20px;
  color: #066b63;
  font-size: 24px;
  font-weight: bold;
}

.reset-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #066b63;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #044f4b;
}
